.bug(@pixels: 1px){
	//Debug
	border: @pixels solid red;
}

/*Codigo utilizados no sistema abaixo:*/

/*Variaveis less*/


//Texto e links
@color:#0f0712;
@font:14pt;
@font-h1:24pt;
@min-font:10pt;

@line:#6792c4;
@white:#fff;

//link hover ,h1, calendario e projetos
@link-hover:#062c5a;

/*sizes*/
.s-quart{width: 20px;height: 20px}
.s-third{width: 30px;height: 30px}
.s-quad{width: 40px;height: 40px;}
.s-twofour{width: 240px}
.s-twoseven{width: 270px}
.neat{margin:0;}
.topten{margin-top: 10px}
.rightten{margin-right: 10px;}
.no-border, li.no-border{border:none; outline:none;}
.off{color: #CCC}

//Sizes
@ten:10px;
@twelve:20px;
@s-third:30px;
@s-third-five:35px;
@s-four:40px;
@s-five:50px;
@one-ten:110px;

.w-all{
	width: 100%;
}
.h-all{
	height: 100%;
}
.allpage{
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
}

.relative(@direction: left){
	//Position relative padrao
	position: relative;
	float: @direction;
}

/*Css*/
//Demais configurações de css, são realizadas via bootstrap

@charset "utf-8";

html, body{.h-all; overflow-y:auto; overflow-x:hidden;}
body, body.login{font-family: 'Open Sans',Arial, sans-serif; color:#454a4d; font-weight: 300;background-color: @white}
body{
	&.noscroll{
		position: fixed; overflow: hidden; width: 100%;
	}
	&.rh{
		#visitantes,.perfis,.empresas{
			display: none;
		}
	}
	&.operador{
		.perfis,.departamentos,.feriados,.operadores,.empresas,#acesso{
			display: none;
		}
		.usuarios .edit,.usuarios .delete,{
			display: none;
		}
	}
}
.holder{
	position: relative;width: 940px;padding: 0 @ten;margin: 0 auto;height: 70px;
}

#wrap{position:absolute;left:0;top:0;width: 100%;height:100%;}
header {
	.relative;.w-all;height: 70px;background: url(../images/header_bkg.png);color: #1b171b;
	a.logo{
		.relative;width: 130px;height: @s-five;background: url(../images/logo.png);margin-top: 10px;
	}
	p#current-date{
		position: absolute;top: 22px;height: auto;width: 350px;left: 50%;margin-left: -175px;font-size: 11pt;text-align: center;
	}
	.user-box{
		.relative(right);min-width:165px;height:45px;font-size:10pt;color:#0f0712;margin:15px 0 0;line-height: 20pt;
		span{
			float: left;
		}
		.user-icon{
			background:url(../images/gui.png) -115px -70px;
			height: 20px;
			margin-left:2px
		}
		.logout{
			background:url(../images/gui.png) -130px -115px;
			.relative(right);
			&:hover{
				background-position: -130px -90px;
			}
		}
	}
}
nav{
	.relative;.w-all;height: 50px;background: url(../images/nav_bkg.png);
	ul.holder{
		height: @s-five !important;
		.dropdown{
			display: block;
			.relative;
			margin-left: 60px;
			text-align: left;
			height: 47px;
			border-bottom: 3px solid #fff;
			padding: 10px 0;
			&.open{
				border-bottom: 3px solid #062c5a;
			}
			&>a{
				&::after{
					content: "";
					position: relative;
					float: left;
					display: block;
					width: @s-third;
					height: @s-third;
					margin-right: 20px;
					background: url(../images/gui.png) 0 0 no-repeat;
				}
				&:hover,&:active,&:focus{
					text-decoration: none;
					color: #062c5a;
					&::after{
						background-position: 0 -35px;
					}
				}
				&#acesso{
					&::after{
						width: @twelve;
						background-position: -35px -0;
					}
					&:hover,&:active,&:focus{
						&::after{
							background-position: -35px -35px;
						}
					}
				}
				&#visitantes{
					&::after{
						width: @s-four;
						background-position: -60px -0;
					}
					&:hover,&:active,&:focus{
						&::after{
							background-position: -60px -35px;
						}
					}
				}
			}
		}
	}
}
#container{
	.w-all;.relative;
	.content{
		height: auto;min-height: 480px;
		display: none;
		h1{
			text-align: center;
		}
		.biglogo{
			margin: 130px 245px;
		}
		form{
			.date{
				width: 195px;
			}
			.s-mini{
				width: 455px;
				float: left;
			}
			.input-group{
				margin-bottom: 5px;
			}
			label[for="datecard"]{
				line-height: 25pt;
			}
		}
		.finishform{
			.relative;
			width: 100%;
			margin-top: 20px;
			height: 40px;
			a{
				display: block;
				background: url(../images/gui.png) no-repeat;
				.relative(right);
				&.cancel{
					margin-right: 5px;
					background-position: 0 -150px;
					&:hover{
						background-position: -45px -150px;
					}
				}
				&.submit{
					background-position: 0 -70px;
					&:hover{
						background-position: -45px -70px;
					}
				}	
			}
		}
	}
	.options{
		.relative(right);
		width: 200px;
		height: auto;
		a{
			display: block;
			background: url(../images/gui.png) no-repeat;
			.relative(right);
			margin-right: 10px;
			&.create{
				background-position: 0 -115px;
				&:hover{
					background-position: -35px -115px;
				}
			}
			&.print{
				background-position: -115px 0;
				width: 45px;
				&:hover{
					background-position: -115px -35px;
				}
			}
		}
		p{
			.relative(right);
			margin: 0;
			span{
				color: @line;
			}
		}
	}
	table{
		thead{
			font-size: 10pt;
		}
		tbody{
			font-size: 9pt;
			max-height: 100px;
			overflow-y: scroll;
		}
		.actions{
			width: 75px;
			a{
				display: block;
				background: url(../images/gui.png) no-repeat;
				.relative(right);
				width: 25px;
				height: @s-third;
				&.edit{
					margin-right: 5px;
					background-position: -70px -115px;
					&:hover{
						background-position: -100px -115px;
					}
				}
				&.delete{
					background-position: -135px -150px;
					&:hover{
						background-position: -135px -185px;
					}
				}	
			}
		}
	}
	.nav-tabs{
		li{
			a{
				color: #fff;
			}
			&.active{
				a{
					color: #13498a;
				}
			}
		}
	}
}

.tab-pane{
	canvas{
		.relative;
		width: 378px;
		height: 278px;
		border: 1px solid #6792c4;
	}
	form{
		position: relative;
		float: right;
		width: 520px;
		height: auto;
		label{
			font-size: 11pt;
		}
	}
}


footer{
	.relative;.w-all;height: 30px;background: url(../images/footer_bkg.png);
	p{
		font-size: 9pt;.w-all;.relative;text-align: center;line-height: 23pt;color: @white;
	}
}

/*Login page*/
.login{
	display: none;
	#container{
		.content{
			min-height: 560px;
			display: block;
		}
	}
	.question-buttons{
		margin-top: 35px;
		width: 100%;
		.bquestion{
			background: #13498a;color: #fff;display: block;position: relative;float: right;padding: 10px 20px;font-size: 10pt;margin-left: 10px;
			&:hover{
				text-decoration: none;
				background: #062c5a;
			}
		}
	}
}

.box{
	width: 296px;
	height: 190px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -95px;
	margin-left: -148px;
	font-size: 12pt;
	form{
		padding: 20px;
		background: #6792c4;
		input{
			font-size: 10pt;
			color: #d1d1d1;	
		}
		.input-group.first{
			margin-bottom: 10px;
		}
		.submit-arrow{
			background: url(../images/gui.png) -135px -70px no-repeat;
			width: @ten;
			height: @ten;
			display: block;
			position: absolute;
			z-index: 99;
			right: 15px;
			top: 18px;
		}
		a.signin{
			z-index: 9;
			width: 44px;
			display: table-cell;
			height: 43px;
			background: #13498a;
			&:hover{
				background: #062c5a;
			}
			&::after{
				content: "";
				background: url(../images/gui.png) no-repeat;
				background-position:-135px -70px;
				width: @ten;
				height: @ten;
				display: block;
				margin-left: 15px;
				margin-top: 17px;
			}
		}
		span{
			&.submit{
				padding: 0;
			}
			&.ico{
				&::after{
					content: "";
					background: url(../images/gui.png) no-repeat;
					width: @twelve;
					display: block;
					height: 15px;
					margin-top: 2px;
				}
				&.numbermat{
					&::after{
						background-position: -90px -70px;
					}
				}
				&.key{
					&::after{
						background-position: -90px -90px;
					}	
				}
				&.email{
					&::after{
						background-position: -130px -280px;
					}
				}
			}	
		}
	}
	.arrow-down{
		.relative;
		width: 100%;
		height: 10px;
		span{
			width: 20px;
			height: 10px;
			margin-left: 20px;
			background: url(../images/gui.png) 0 -300px;
			display: block;
		}
	}
	p{
		color: #13498a;
		font-size: 11pt;
		span{
			.relative;
			text-transform:uppercase;
			font-size: 18pt;
		}
		a{
			.relative(right);
			text-transform: capitalize;
			color: #13498a;
			line-height: 27pt;
			font-size: 10pt;
		}
	}
	&.loginop{
		/*Caso esteja no formulario de login*/
		.forgotform{
			display: none;
		}
	}
	&.forgotop{
		/*Caso esteja no formulario de esqueci a senha*/
		.loginform{
			display: none;
		}
	}
}


//Button
.button{height:@s-third; font-weight:300; min-width: @s-third; float:left; background: url(../images/gui.png) no-repeat; text-align:left; color:#FFF; cursor:pointer; outline: none; border: none;box-shadow:none}
.hide{display:none}
span.bold{font-weight: 700;}

/*MODAL*/
#modal{position: fixed; left: 0; top:0; z-index:9999; width: 100%; height: 1000px; background: url(../images/mask.png);}
#modal .modal-content{position:absolute; z-index:999; background-color:#fafafa; border:1px solid #e5e3e3; width: 360px; min-height: 100px; left: 50%; margin-left: -200px; top:240px; padding: 40px;}
#modal .modal-buttons{width: 360px; position: relative; float: left; display:none;}
#modal .confirm{margin-left: 90px;}
#modal .bclose{position:absolute; right: -1px; top: -1px;}
#modal .big-icon{float: left; width: 100px; height: 100px; background:url(../images/gui_ebook.png) no-repeat; background-color: #217fa5;  background-position: 11px -627px;border-radius:5px}
#modal .modal-text{float: left; margin-left: 10px; width: 250px;}
#modal h1, #modal .tut-view, #modal .contact-view{display:none;}
#modal h2{font-size: 12pt; font-weight: 400; line-height: 17pt; color: #217fa5;}
#modal p{float:left; position:relative; font-size: 9.5pt; margin-top: 5px; line-height: 12pt;color:#535353}
#wrap br{clear:both; line-height:20px;}
#modal .topaj{margin-top:40px;}
#modal .bad h2{color: #b21e1e;}
#modal .bad .big-icon{background-color: #b21e1e; background-position: 10px -720px;}
#modal .bad .bclose{ background:url(../images/gui_ebook_.png) -140px -830px;}
#modal .bad .bclose:hover{ background:url(../images/gui_ebook_.png) -170px -830px;}
/*#modal .bad .button, #modal .cancel{background-color: #ad1410; border-color: #cf282e;}*/

#modal.question .modal-content{}
#modal.question .modal-buttons{display: block}
#modal.question .modal-text{float: left; margin-left: 10px; width: 360px; height: 80px;}
#modal.question .big-icon{display: none;}

#wrap .mask{background: url(../images/mask.png); z-index: 9999;position: fixed; width: 960px; height: 100%; top: 0;left:50%; margin-left:-490px;display: none}
.mask .loader{position:absolute; left: 50%; top:30%; margin-left: -50px;width: 100px;height: 100px}
