/*Codigo utilizados no sistema abaixo:*/
/*Variaveis less*/
/*sizes*/
.s-quart {
  width: 20px;
  height: 20px;
}
.s-third {
  width: 30px;
  height: 30px;
}
.s-quad {
  width: 40px;
  height: 40px;
}
.s-twofour {
  width: 240px;
}
.s-twosix {
  width: 260px;
}
.s-twonine {
  width: 290px;
}
.s-ten {
  width: 100px;
}
.s-four {
  width: 400px;
}
.s-threefive {
  width: 350px;
}
.s-fourfive {
  width: 455px;
}
.s-fivefif {
  width: 515px;
}
.neat {
  margin: 0;
}
.topten {
  margin-top: 10px;
}
.bottomten {
  margin-bottom: 10px;
}
.leftten {
  margin-left: 10px;
}
.no-border,
li.no-border {
  border: none;
  outline: none;
}
.off {
  color: #cccccc;
}
.w-all {
  width: 100%;
}
.h-all {
  height: 100%;
}
.allpage {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/*Css*/
@charset "utf-8";
html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body,
body.login {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #454a4d;
  font-weight: 300;
  background-color: #ffffff;
}
body.noscroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
body.rh #visitantes,
body.rh .perfis,
body.rh .empresas {
  display: none;
}
body.operador .perfis,
body.operador .departamentos,
body.operador .feriados,
body.operador .operadores,
body.operador .empresas,
body.operador #acesso {
  display: none;
}
body.operador .edit,
body.operador .delete {
  display: none !important;
}
.holder {
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  height: 70px;
}
#wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  background: url(../images/header_bkg.png);
  color: #1b171b;
}
header a.logo {
  position: relative;
  float: left;
  width: 130px;
  height: 50px;
  background: url(../images/logo.png);
  margin-top: 10px;
}
header p#current-date {
  position: absolute;
  top: 22px;
  height: auto;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  font-size: 11pt;
  text-align: center;
}
header .user-box {
  position: relative;
  float: right;
  min-width: 165px;
  height: 45px;
  font-size: 10pt;
  color: #0f0712;
  margin: 15px 0 0;
  line-height: 20pt;
}
header .user-box span {
  float: left;
}
header .user-box .user-icon {
  background: url(../images/gui.png) -115px -70px;
  height: 20px;
  margin-left: 2px;
}
header .user-box .logout {
  background: url(../images/gui.png) -130px -115px;
  position: relative;
  float: right;
}
header .user-box .logout:hover {
  background-position: -130px -90px;
}
nav {
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  background: url(../images/nav_bkg.png);
}
nav ul.holder {
  height: 50px !important;
}
nav ul.holder .dropdown {
  display: block;
  position: relative;
  float: left;
  margin-left: 60px;
  text-align: left;
  height: 47px;
  border-bottom: 3px solid #fff;
  padding: 10px 0;
}
nav ul.holder .dropdown.open {
  border-bottom: 3px solid #062c5a;
}
nav ul.holder .dropdown > a::after {
  content: "";
  position: relative;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url(../images/gui.png) 0 0 no-repeat;
}
nav ul.holder .dropdown > a:hover,
nav ul.holder .dropdown > a:active,
nav ul.holder .dropdown > a:focus {
  text-decoration: none;
  color: #062c5a;
}
nav ul.holder .dropdown > a:hover::after,
nav ul.holder .dropdown > a:active::after,
nav ul.holder .dropdown > a:focus::after {
  background-position: 0 -35px;
}
nav ul.holder .dropdown > a#acesso::after {
  width: 20px;
  background-position: -35px 0;
}
nav ul.holder .dropdown > a#acesso:hover::after,
nav ul.holder .dropdown > a#acesso:active::after,
nav ul.holder .dropdown > a#acesso:focus::after {
  background-position: -35px -35px;
}
nav ul.holder .dropdown > a#visitantes::after {
  width: 40px;
  background-position: -60px 0;
}
nav ul.holder .dropdown > a#visitantes:hover::after,
nav ul.holder .dropdown > a#visitantes:active::after,
nav ul.holder .dropdown > a#visitantes:focus::after {
  background-position: -60px -35px;
}
#container {
  width: 100%;
  position: relative;
  float: left;
}
#container .content {
  height: auto;
  min-height: 480px;
  display: none;
}
#container .content h1 {
  text-align: center;
}
#container .content .biglogo {
  margin: 130px 245px;
}
#container .content form .date {
  width: 195px;
}
#container .content form .s-mini {
  width: 455px;
}
#container .content form .input-group {
  margin-bottom: 5px;
}
#container .content form label[for="datecard"] {
  line-height: 25pt;
  width: 100%;
  text-align: center;
  color: #6792c4;
}
#container .content .finishform {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  height: 40px;
}
#container .content .finishform a {
  display: block;
  background: url(../images/gui.png) no-repeat;
  position: relative;
  float: right;
}
#container .content .finishform a.cancel {
  margin-right: 5px;
  background-position: 0 -150px;
}
#container .content .finishform a.cancel:hover {
  background-position: -45px -150px;
}
#container .content .finishform a.submit {
  background-position: 0 -70px;
}
#container .content .finishform a.submit:hover {
  background-position: -45px -70px;
}
#container .options {
  position: relative;
  float: right;
  width: 200px;
  height: auto;
}
#container .options a {
  display: block;
  background: url(../images/gui.png) no-repeat;
  position: relative;
  float: right;
  margin-right: 10px;
}
#container .options a.create {
  background-position: 0 -115px;
}
#container .options a.create:hover {
  background-position: -35px -115px;
}
#container .options a.print {
  background-position: -115px 0;
  width: 45px;
}
#container .options a.print:hover {
  background-position: -115px -35px;
}
#container .options p {
  position: relative;
  float: right;
  margin: 0;
}
#container .options p span {
  color: #6792c4;
}
#container table thead {
  font-size: 10pt;
}
#container table tbody {
  font-size: 9pt;
  max-height: 100px;
  overflow-y: scroll;
}
#container table .actions {
  width: 75px;
}
#container table .actions a {
  display: block;
  background: url(../images/gui.png) no-repeat;
  position: relative;
  float: right;
  width: 25px;
  height: 30px;
}
#container table .actions a.edit {
  margin-right: 5px;
  background-position: -70px -115px;
}
#container table .actions a.edit:hover {
  background-position: -100px -115px;
}
#container table .actions a.delete {
  background-position: -135px -150px;
}
#container table .actions a.delete:hover {
  background-position: -135px -185px;
}
#container .nav-tabs li a {
  color: #fff;
}
#container .nav-tabs li.active a {
  color: #13498a;
}
.tab-pane .takepicture {
  width: 378px;
  height: 330px;
  float: left;
}
.tab-pane .takepicture canvas {
  position: relative;
  float: left;
  width: 378px;
  height: 278px;
  border: 1px solid #6792c4;
}
.tab-pane .takepicture div {
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
}
.tab-pane .takepicture div a {
  position: relative;
  margin: 0 auto;
  width: 55px;
  height: 40px;
  display: block;
  background: url(../images/gui.png) 0 -195px no-repeat;
}
.tab-pane .takepicture div a:hover {
  background-position: 0 -240px;
}
.tab-pane form {
  position: relative;
  float: right;
  width: 520px;
  height: auto;
}
.tab-pane form label {
  font-size: 11pt;
}
.tab-pane#personal label {
  line-height: 40px;
  font-size: 14px;
  color: #6792c4;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  background: url(../images/footer_bkg.png);
}
footer p {
  font-size: 9pt;
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
  line-height: 23pt;
  color: #ffffff;
}
/*Login page*/
.login {
  display: none;
}
.login #container .content {
  min-height: 560px;
  display: block;
}
.login .question-buttons {
  margin-top: 35px;
  width: 100%;
}
.login .question-buttons .bquestion {
  background: #13498a;
  color: #fff;
  display: block;
  position: relative;
  float: right;
  padding: 10px 20px;
  font-size: 10pt;
  margin-left: 10px;
}
.login .question-buttons .bquestion:hover {
  text-decoration: none;
  background: #062c5a;
}
.box {
  width: 296px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -148px;
  font-size: 12pt;
}
.box form {
  padding: 20px;
  background: #6792c4;
}
.box form input {
  font-size: 10pt;
  color: #d1d1d1;
  height: 34pt;
}
.box form .input-group.first {
  margin-bottom: 10px;
}
.box form .submit-arrow {
  background: url(../images/gui.png) -135px -70px no-repeat;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  z-index: 99;
  right: 15px;
  top: 18px;
}
.box form a.signin {
  z-index: 9;
  width: 44px;
  display: table-cell;
  height: 43px;
  background: #13498a;
}
.box form a.signin:hover {
  background: #062c5a;
}
.box form a.signin::after {
  content: "";
  background: url(../images/gui.png) no-repeat;
  background-position: -135px -70px;
  width: 10px;
  height: 10px;
  display: block;
  margin-left: 15px;
  margin-top: 17px;
}
.box form span.submit {
  padding: 0;
}
.box form span.ico::after {
  content: "";
  background: url(../images/gui.png) no-repeat;
  width: 20px;
  display: block;
  height: 15px;
  margin-top: 2px;
}
.box form span.ico.numbermat::after {
  background-position: -90px -70px;
}
.box form span.ico.key::after {
  background-position: -90px -90px;
}
.box form span.ico.email::after {
  background-position: -130px -280px;
}
.box .arrow-down {
  position: relative;
  float: left;
  width: 100%;
  height: 10px;
}
.box .arrow-down span {
  width: 20px;
  height: 10px;
  margin-left: 20px;
  background: url(../images/gui.png) 0 -300px;
  display: block;
}
.box p {
  color: #13498a;
  font-size: 11pt;
}
.box p span {
  position: relative;
  float: left;
  text-transform: uppercase;
  font-size: 18pt;
}
.box p a {
  position: relative;
  float: right;
  text-transform: capitalize;
  color: #13498a;
  line-height: 27pt;
  font-size: 10pt;
}
.box.loginop {
  /*Caso esteja no formulario de login*/
}
.box.loginop .forgotform {
  display: none;
}
.box.forgotop {
  /*Caso esteja no formulario de esqueci a senha*/
}
.box.forgotop .loginform {
  display: none;
}
.button {
  height: 30px;
  font-weight: 300;
  min-width: 30px;
  float: left;
  background: url(../images/gui.png) no-repeat;
  text-align: left;
  color: #FFF;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
}
.hide {
  display: none;
}
span.bold {
  font-weight: 700;
}
.error {
  color: #b21e1e;
}
/*MODAL*/
#modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 1000px;
  background: url(../images/mask.png);
  display: none;
}
#modal .modal-content {
  position: absolute;
  z-index: 999;
  background-color: #fafafa;
  border: 1px solid #e5e3e3;
  width: 500px;
  min-height: 100px;
  left: 50%;
  margin-left: -200px;
  top: 240px;
  padding: 30px;
}
#modal .modal-buttons {
  width: 360px;
  position: relative;
  float: left;
  display: none;
}
#modal .confirm {
  margin-left: 90px;
}
#modal .bclose {
  position: absolute;
  right: -1px;
  top: -1px;
  background-position: -160px 0;
}
#modal .bclose:hover {
  background-position: -160px -35px;
}
#modal .big-icon {
  position: relative;
  float: left;
  width: 140px;
  height: 140px;
  background: url(../images/gui.png) no-repeat;
  background-color: #6792c4;
  background-position: -190px 0;
}
#modal .modal-text {
  float: left;
  margin-left: 10px;
  width: 430px;
}
#modal h1,
#modal .tut-view,
#modal .contact-view {
  display: none;
}
#modal h2 {
  font-size: 12pt;
  font-weight: 400;
  line-height: 17pt;
  color: #217fa5;
}
#modal p {
  float: left;
  position: relative;
  font-size: 9.5pt;
  margin-top: 10px;
  line-height: 12pt;
  color: #535353;
}
#wrap br {
  clear: both;
  line-height: 20px;
}
#modal .topaj {
  margin-top: 40px;
}
#modal .bad h2 {
  color: #b21e1e;
}
#modal .bad .big-icon {
  background-color: #b21e1e;
  background-position: 10px -720px;
}
#modal .bad .bclose {
  background: url(../images/gui_ebook_.png) -140px -830px;
}
#modal .bad .bclose:hover {
  background: url(../images/gui_ebook_.png) -170px -830px;
}
/*#modal .bad .button, #modal .cancel{background-color: #ad1410; border-color: #cf282e;}*/
#modal .aviso {
  margin-left: 30px;
  width: 260px;
  height: auto;
  position: relative;
  float: left;
  min-height: 100px;
}
#modal .dialog {
  position: relative;
  float: left;
  width: 260px;
  height: auto;
  margin: 10px 0 0 30px;
}
#modal .dialog a {
  background: #6792c4;
  color: #ffffff;
  padding: 5px 25px;
  font-size: 12pt;
  position: relative;
  float: left;
  margin-right: 10px;
}
#modal .dialog a:hover {
  background: #13498a;
  text-decoration: none;
}
#modal .warning .big-icon {
  background-position: -190px -150px;
  background-color: #b21e1e;
}
#modal .warning .aviso h2 {
  color: #b21e1e;
}
#modal .warning .dialog a {
  background: #b21e1e;
}
#modal .warning .dialog a:hover {
  background: #a51c1c;
}
#modal.question .modal-buttons {
  display: block;
}
#modal.question .modal-text {
  float: left;
  margin-left: 10px;
  width: 360px;
  height: 80px;
}
#modal.question .big-icon {
  display: none;
}
.mask {
  background: url(../images/mask.png);
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.mask .loader {
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
